.container
  %h3 New Room

  = form_for @changeset, room_path(@conn, :create), fn f ->

    = render ChatUp.SharedView, "_form_error.html", changeset: @changeset

    = render "_form.html", f: f

    = submit "Create Room", class: "btn btn-primary pull-right"

  - end
