@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

$primary-color: #51445F;
$primary-color-light: lighten($primary-color, 16%);

$navbar-height: 48px;
$navbar-height-mobile: 40px;
$navbar-brand-font-size: 1.4rem;

@import "materialize";

html {
  font-family: "Open Sans", sans-serif;
}

.color-navbar {
  background-color: $primary-color-light;
  border-bottom: 4px solid $primary-color;
}
