use Mix.Config

# In this file, we keep production configuration that
# you likely want to automate and keep it away from
# your version control system.
#
# You should document the content of this
# file or create a script for recreating it, since it's
# kept out of version control and might be hard to recover
# or recreate for your teammates (or you later on).
config :chat_up, ChatUp.Endpoint,
  secret_key_base: "xeqWUJ03Yx7JQ+if21rLBKIZ6cZKMyp3hcJYuC3U0NDQKe1APerQ3F5rD/E3s+e1"

# Configure your database
config :chat_up, ChatUp.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "chat_up_svc",
  password: "chatuppassword",
  database: "chat_up_prod",
  hostname: "192.168.99.100",
  pool_size: 25
