.form-group
  = text_input @f, :name, placeholder: "marketing-team", class: "form-control"
  = error_tag @f, :name

.form-group
  = text_input @f, :audience, placeholder: "audience", class: "form-control"
  = error_tag @f, :audience
