- if (get_flash(@conn, :info) != nil) do
  .container
    %p.alert.alert-info{role: "alert"}
      %b Heads Up!
      = get_flash(@conn, :info)

- if (get_flash(@conn, :error) != nil) do
  .container
    %p.alert.alert-danger{role: "alert"}
      %b Hey!
      = get_flash(@conn, :error)
